h3{
    background-color: brown;
    text-decoration:underline ;
    padding: 20px;
    text-align: center;
}
.cup{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 70px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;

}
.cup h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup p{
    max-width: 100%;
    margin:10px 0;
    margin-bottom: 0%;
}
.cup1{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;

}
.cup1 h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup1 p{
    max-width: 100%;
    margin:10px 0;
    text-align: center;
    margin-bottom: 0%;
}
.cup2{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;

}
.cup2 h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup2 p{
    max-width: 100%;
    margin:10px 0;
    text-align: center;
    margin-bottom: 0%;
}

.cup3{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 70px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;
    

}
.cup3 h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup3 p{
    max-width: 100%;
    margin:10px 0;
    margin-bottom: 0%;
}
.cup4{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;
    

}
.cup4 h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup4 p{
    max-width: 100%;
    margin:10px 0;
    margin-bottom: 0%;
}

.cup5{
    background-color:white ;
    border: 1px solid #ddd;
    border-radius:5px ;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
    padding: 10px;
    padding-bottom: 50px;
    width: 300px;
    height:300px;
    vertical-align: top;

}
.cup5 h2{
    text-decoration: underline;
    text-align: center;
    margin-top: 0%;
     
}
.cup5 p{
    max-width: 100%;
    margin:10px 0;
    text-align: center;
    margin-bottom: 0%;
}

footer{
    background-color: rgba(70,42,3,0.41);
    padding: 20px;
    text-align: center;
}